.bg-purple{
    background-color: purple;
    color: orange;
}

.bg-orange{
    background-color: orange;
    color: purple;
}
.bg-blue{
    background-color: blue;
    color: white;
}

.bg-green{
    background-color: green;
    color: white;
}